html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* width: 100vw; */
  height: 100vh;
  background-color: #f1fcff;
  font-family: 'Roboto', 'TT Lakes Compressed', sans-serif;
  /* color: #1b1c21; */
  /* font-family: 'Open Sans'; */
}

:root {
  --color-bg: #235bb4;
  --color-active: #0c326f;
}
