.header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    & > li {
      list-style: none;
    }
  }
}

.container {
  // max-width: 900px;
  padding: 2rem 0;
  margin: 0 auto;
}
